.grid{
    width: 600px;
    height: 600px;
    display: flex;
    flex-wrap: wrap;
    border-style: solid;
}

.grid div{
    width: 40px;
    height: 40px;
}

.shooter{
    background-image: url(Shooter.png);
    background-size: cover;
}

.invader{
    background-image: url(SpaceInvader.png);
    background-size: cover;
}

.boom{
    background-image: url(Boom.png);
    background-size: cover;
}

.laser{
    background-image: url(Missile.png);
    background-size: cover;;
}